/* scss/Variables/_Variables.scss */
/* Colors */
/* Typography */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i|Roboto:300,300i,400,400i,700,700i");
/* Reset */
.component {
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1; }
  .component .source {
    font-family: "Raleway", "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1; }

/* Gradient Functions */
/* scss/Atoms/_Buttons.scss */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-family: "Raleway", "Roboto", sans-serif;
  color: #354866;
  border: 1px solid #DAE0E6;
  border-radius: 4px;
  cursor: pointer;
  font-size: .8em;
  padding: 0.5em 1em;
  transition: 0.25s all ease-in-out;
  outline: none; }
  button:hover, button[hover] {
    border-color: #449DF5;
    transition: 0.25s all ease-in-out;
    color: #449DF5; }
  button[disabled] {
    opacity: 0.5;
    cursor: initial; }
    button[disabled]:hover {
      border-color: #DAE0E6;
      transition: 0.25s all ease-in-out;
      color: #354866; }
  button:active, button[active] {
    background: #449DF5;
    border-color: #449DF5;
    color: #fff;
    outline: none; }

/* scss/Atoms/_Pills.scss */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  color: #354866;
  border: 1px solid #DAE0E6;
  cursor: pointer;
  font-size: .8em;
  padding: 0.5em 1em;
  transition: 0.25s all ease-in-out;
  outline: none; }
  button.pill {
    border-radius: 100px;
    -webkit-border-radius: 100px; }
  button:hover, button[hover] {
    border-color: #449DF5;
    transition: 0.25s all ease-in-out;
    color: #449DF5; }
  button[disabled] {
    opacity: 0.5; }
  button:active, button[active], button.active {
    background: #449DF5;
    border-color: #449DF5;
    color: #fff;
    outline: none; }
  button.filter {
    align-items: center;
    justify-content: center;
    background: #e9edf0;
    border-radius: 4px;
    padding: 0.25em 1em; }
    button.filter img {
      max-width: 13px;
      width: 100%;
      padding-right: 0.2em;
      margin-top: 1px; }
    button.filter:hover, button.filter[hover] {
      border-color: #449DF5;
      transition: 0.25s all ease-in-out;
      color: #354866; }
    button.filter[disabled] {
      opacity: 0.5; }
    button.filter:active, button.filter[active], button.filter.active {
      border-color: #449DF5;
      transition: 0.25s all ease-in-out;
      color: #449DF5;
      background: #edf6fe; }

/* scss/Atoms/_Input.scss */
.input-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 1em 0; }
  .input-wrap label {
    width: 100%;
    font-size: .8em;
    color: #354866;
    padding-bottom: 0.3em; }
  .input-wrap input, .input-wrap select, .input-wrap textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 100%;
    font-family: "Raleway", "Roboto", sans-serif;
    outline: none;
    transition: all 0.25s ease-in-out; }
    .input-wrap input[type="text"], .input-wrap select[type="text"], .input-wrap textarea[type="text"] {
      border: 1px solid #DAE0E6;
      font-size: .8em;
      padding: .5em 0;
      text-indent: .5em;
      border-radius: 4px; }
      .input-wrap input[type="text"]:active, .input-wrap input[type="text"][active], .input-wrap input[type="text"]:focus, .input-wrap select[type="text"]:active, .input-wrap select[type="text"][active], .input-wrap select[type="text"]:focus, .input-wrap textarea[type="text"]:active, .input-wrap textarea[type="text"][active], .input-wrap textarea[type="text"]:focus {
        border-color: #449DF5; }
      .input-wrap input[type="text"]:invalid, .input-wrap input[type="text"][invalid], .input-wrap select[type="text"]:invalid, .input-wrap select[type="text"][invalid], .input-wrap textarea[type="text"]:invalid, .input-wrap textarea[type="text"][invalid] {
        border-color: #D0021B; }

select {
  border: 1px solid #DAE0E6;
  background: none;
  font-size: .8em;
  padding: .5em 0;
  text-indent: .5em;
  border-radius: 4px; }
  select:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 11px;
    color: #aaa;
    right: 8px;
    top: 3px;
    padding: 0 0 1px;
    position: absolute;
    pointer-events: none; }
  select:before {
    content: "\f107";
    font-family: FontAwesome;
    right: 4px;
    top: 0px;
    width: 20px;
    height: 16px;
    background: #fff;
    position: absolute;
    pointer-events: none;
    display: block; }

/* scss/Atoms/_Select.scss */
.select-wrap {
  width: 100%;
  display: flex;
  align-content: center; }
  .select-wrap::after {
    color: #DAE0E6;
    content: "\f107";
    font-family: "FontAwesome";
    align-self: center;
    position: relative;
    font-size: 2em;
    top: 0em;
    left: -1em; }
  .select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .select-wrap select:active, .select-wrap select:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-color: blue; }

/* scss/Atoms/_Checkbox.scss */
label.checkbox {
  display: flex;
  align-items: center; }
  label.checkbox input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    border: 1px solid #DAE0E6;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 1px; }
    label.checkbox input[type="checkbox"]:hover {
      border-color: #449DF5; }
    label.checkbox input[type="checkbox"]:checked {
      border-color: #449DF5;
      color: #449DF5; }
      label.checkbox input[type="checkbox"]:checked::before {
        color: #449DF5;
        content: "\f00c";
        font-family: "FontAwesome";
        align-self: center;
        position: relative;
        font-size: 1.5em;
        top: 0.15em;
        left: 0.1em; }
  label.checkbox[disabled] {
    opacity: 0.5;
    cursor: initial;
    pointer-events: none; }

/* scss/Atoms/_Radio.scss */
label.radio {
  display: flex;
  align-items: center; }
  label.radio input[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    border: 1px solid #DAE0E6;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 20em; }
    label.radio input[type="radio"]:hover {
      border-color: #449DF5; }
    label.radio input[type="radio"]:checked {
      border-color: #449DF5;
      color: #449DF5;
      font-weight: bold; }
      label.radio input[type="radio"]:checked::before {
        content: " ";
        align-self: center;
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50em;
        background-color: #449DF5;
        top: 0.4em;
        left: 0.4em; }
    label.radio input[type="radio"]:checked + label {
      font-weight: 700; }
  label.radio[disabled] {
    opacity: 0.5;
    cursor: initial; }

input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 1px solid #DAE0E6;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 20em; }
  input[type="radio"]:hover {
    border-color: #449DF5; }
  input[type="radio"]:checked {
    border-color: #449DF5;
    color: #449DF5;
    font-weight: bold; }
    input[type="radio"]:checked::before {
      content: " ";
      align-self: center;
      position: relative;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50em;
      background-color: #449DF5;
      top: 0.4em;
      left: 0.4em; }

/* scss/Atoms/_Toggle.scss */
label.switch {
  position: relative;
  display: inline-block;
  min-width: 50px;
  height: 15px;
  /* Rounded sliders */ }
  label.switch input[type="checkbox" i], label.switch input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    width: 0;
    height: 0; }
  label.switch span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  label.switch span.slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 0px;
    bottom: -.3em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s; }
  label.switch input[type="checkbox"]:checked + .slider {
    background-color: #449DF5; }
  label.switch input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%); }
  label.switch .slider.round {
    border-radius: 34px; }
  label.switch .slider.round:before {
    border-radius: 50%; }

/* scss/Atoms/_Range-Slider.scss */
input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #DAE0E6;
  height: 2px;
  border-radius: 1px;
  color: #fff; }
  input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-slider-thumb, input[type="range"]::-ms-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }

/* scss/Core/_Typography.scss */
.text-raleway {
  font-family: "Raleway", "Roboto", sans-serif;
  padding-bottom: 1em; }
  .text-raleway__title {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0.2em;
    font-size: 1.2em; }
  .text-raleway__sub-title {
    font-weight: 300;
    font-size: 0.8em;
    color: #acbac7;
    line-height: 1;
    margin: 0; }
  .text-raleway--bold-text {
    font-weight: 700; }

.text-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 1em; }
  .text-roboto__title {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0.2em;
    font-size: 1.2em; }
  .text-roboto__sub-title {
    font-weight: 300;
    font-size: 0.8em;
    color: #acbac7;
    line-height: 1;
    margin: 0; }
  .text-roboto--bold-text {
    font-weight: 700; }
  .text-roboto--light-text {
    font-weight: 300; }

h4 {
  text-transform: uppercase;
  font-weight: 300; }

/* scss/Core/_Colors.scss */
.swatch-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.swatch {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding: 1em;
  height: 250px;
  flex-basis: 30%;
  border-radius: 4px;
  margin: 1em; }
  .swatch__item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding: 1em;
    height: 300px;
    flex-basis: 33%;
    border-radius: 4px;
    /* Gradients */ }
    .swatch__item__title {
      color: #fff;
      width: 100%;
      text-align: center;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
      font-weight: 700; }
    .swatch__item__value {
      font-weight: 300;
      color: #fff;
      width: 100%;
      text-align: center;
      line-height: 1;
      margin: 0;
      text-transform: uppercase; }
    .swatch__item--primary {
      background-color: #7C4DFF; }
    .swatch__item--secondary {
      background-color: #01C9EA; }
    .swatch__item--tertiary {
      background-color: #18A9E6; }
    .swatch__item--tertiary-1 {
      background-color: #DAE0E6; }
    .swatch__item--tertiary-2 {
      background-color: #083575; }
    .swatch__item--tertiary-3 {
      background-color: #01FAAB; }
    .swatch__item--primary-gradient {
      background: #7C4DFF;
      background: -webkit-linear-gradient(left, #7C4DFF 0%, #18A9E6 50%, #01C9EA 100%);
      background: linear-gradient(to right, #7C4DFF 0%, #18A9E6 50%, #01C9EA 100%); }

/* scss/Core/_Logos-Branding.scss */
.logo__item {
  display: flex;
  width: 50%; }
  .logo__item--primary-color {
    background: #7C4DFF; }

.logos {
  display: flex;
  justify-content: space-around; }
  .logos .logo {
    max-width: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2em; }
    .logos .logo img {
      width: 100%;
      height: 100%;
      padding-bottom: 2em; }
