/* scss/Core/_Typography.scss */


.text-raleway {
	font-family: $primary-font-stack;
	padding-bottom: 1em;


	&__title {
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 0.2em;
		font-size: 1.2em;
	}

	&__sub-title {
			font-weight: 300;
			font-size: 0.8em;
			color: darken($tertiary-color-1, 15%);
			line-height: 1;
			margin: 0;
	}

	&--bold-text {
		font-weight: 700;
	}

}

.text-roboto {
	font-family: $secondary-font-stack;
	font-weight: 400;
	padding-bottom: 1em;

	&__title {
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 0.2em;
		font-size: 1.2em;
	}

	&__sub-title {
			font-weight: 300;
			font-size: 0.8em;
			color: darken($tertiary-color-1, 15%);
			line-height: 1;
			margin: 0;
	}

	&--bold-text {
		font-weight: 700;
	}

	&--light-text {
		font-weight: 300;
	}
}


/* Default Color overrides - White Text */

.title--white, .text--white {
	color: #ffffff;
}




h1,
h2, 
h3, 
h4,
h5, 
h6,
p, 
em, 
b, 
small {
	color: $primary-text-color;
}


h1 {
	font-family: $primary-font-stack;
	font-weight: 700;
	font-size: 2.5rem;

	&.title--white {
		color: #ffffff;
	}


}

h2 {
	font-family: $primary-font-stack;
	font-weight: 300;
	font-size: 2rem;
}

h3 {
	font-family: $secondary-font-stack;
	font-weight: 300;
	font-size: 1.9rem;
}

h4 {
	font-family: $primary-font-stack;
	text-transform: uppercase;
	font-weight: 900;
	color: $neon-blue;
	font-size: 1.25rem;
}

h5 {
	font-family: $primary-font-stack;
	text-transform: uppercase;
	font-size: 1rem;
	color: $concord-gray;
}

h6 {
 	font-family: $secondary-font-stack;
 	text-transform: uppercase;
 	font-size: 0.8rem;
}


h1,
h2, 
h3, 
h5, 
h6 {
	a {
		text-decoration: none;
	}
}

small {
	font-family: $secondary-font-stack;
	font-size: 0.625rem;
	font-weight: 300;
}

em {
	font-style: italic;
}

b {
	font-weight: 700;
}

p {
	font-family: $secondary-font-stack;
	font-size: 1em;
	line-height: 1.2;
	font-weight: 300;
	color: $steel;
}

a {
	font-family: $secondary-font-stack;
	color: $primary-color;
	text-decoration: underline;
}

ul, 
ol {
	color: $primary-text-color;

	li {
		font-family: $secondary-font-stack;
		font-size: 1em;
		line-height: 1.6;
		font-weight: 300;
	}
}