/* scss/Atoms/_Select.scss */

.select-wrap {  
	width: 100%;
	display: flex;
	align-content: center;
	background: #fff;

   	 &::after  {
		color: $tertiary-color-1;
		content: "\f107";
		font-family: "FontAwesome";
		align-self: center;
		position: relative;
		font-size: 2em;
		top: 0em;
		left: -1em;
	} 
		select {
		   @include appearance(none);
		   background: #fff;
		   outline: none;
		   color: #fff;

	   &:active, &:focus {
	     border-color: $link-active-color;
	   }

		option {
		 @include appearance(menulist);
		 color: #fff;
		 background: blue;	
		}
	}
}
